<html>
    <head>
      <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
      <div class="app" v-cloak>
        <h1>Airplanes</h1>
        <!--p>{{ data }}</p-->
        <table>
          <tr>
            <th>ID</th>
            <th>Registration Number</th>
            <th>Serial Number</th>
            <th>Manufacturer</th>
            <th>Type</th>
            <th>Date</th>
            <th>Airlines</th>
            <th>Status</th>
            <th>Save</th>
            <th>Delete</th>
          </tr>

          <tr
            v-for="(value, id) in data"
            :class="{ editing: value._id == editedUser }"> 
            <td>{{ id + 1 }}</td>
            <td v-for="(item, index) in value" v-if="(index !== '_id' && index !== '__v')">
              <div class="view">
                {{ value[index] }}
              </div>
              <div class="edit">
                <input v-if="typeof(item) === 'string'" type="text" v-model="value[index]"/>
                <input v-if="typeof(item) === 'number'" type="number" v-model="value[index]"/>
                <input v-if="index === 'date'" type="date" v-model="value[index]"/>
              </div>
            </td>
            <td>
              <input type="text" name="_id" :value="value._id" hidden>
              <button
                class="view"
                @click="editData(value._id)">Edit</button>
              <button
                @click="saveData(id)"
                class="edit">Save</button>
            </td>
            <td>
              <form action="/delete" method="POST">
                <input type="text" name="_id" :value="value._id" hidden>
                <button>Delete</button>
              </form>
            </td>
          </tr>
        </table>
        <form action="/add" method="POST">
          <input type="number" placeholder="regNumber" name="regNumber">
          <input type="number" placeholder="serialNumber" name="serialNumber">
          <input type="date" name="date">
          <button type="submit">Submit</button>
        </form>
      </div>
      <a href="/api">API</a>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="/static/main.js"></script>
  </body>
</html>