.modal-wrapper {
  width: 400px;
  margin: 0 auto;

  input {
    padding: 10px 15px;
    width: 100%;
    display: block;
    border: 2px solid #0014ff;

    &:first-child {
      border-radius: 4px 4px 0 0;
    }

    &:last-child {
      border-radius: 0 0 4px 4px;
    }
  }

  input + input {
    border-top: none;
  }

  button {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    background: linear-gradient(40deg, #ec8a97, #1e46f5);
    opacity: .8;
    margin-top: 15px;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}