.tables {
  display: flex;
  flex-wrap: wrap;
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-right: 20px;
}

tr > td:last-child {
  width: 255px;
  height: 60px;
}

td input {
  width: 100%;
}

td,
th {
  text-align: left;
  border: 1px solid;
  padding: 15px;
  word-break: break-all;
}

tr:nth-child(2n - 1) {
  background-color: rgba($color: #ec8a97, $alpha: .3);
}

tr:nth-child(2n) {
  background-color: rgba($color: #87cefa, $alpha: .3);
}

[v-cloak] {
  display: none;
}
.edit {
  display: none;
}
.editing .edit {
  display: block
}
.editing .view {
  display: none;
}

.table-button {
  padding: 0;
}

.table-button > button {
  width: 100%;
  padding: 10px;
  text-align: left;
  background: #87cefa;
  opacity: .8;
  height: 60px;
}

.table-button:nth-child(2) > button {
  background: #ec8a97;
}

.table-button > button:hover,
.table-button > button:focus {
  opacity: 1;
}